html, body { height: 100%; width: 100%; margin: 0; }

.mainContent {
    height: 100%;
    width: 100%;
    background: #222222;
    overflow: hidden;
}

.svgAlt {
    display: none;
}

.svgArrow, .svgOctagon{
    height:100%;
    width:100%;
}

#upArrow {
    transform: rotate(90deg);
}

#rightArrow {
    transform: rotate(180deg);
}

#downArrow {
    transform: rotate(270deg);
}

tbody {
    height:100%;
    width:100%;
}

svg {
    vertical-align: center;
    horiz-align: center;
    height: 100%;
    width: 100%;
}

path {
    height: 100%;
    width: 100%;
}

.controlBoard {
    height: 100%;
    width: 100%;
    padding: 1% 1% 1% 1%;
    alignment: left;
}

.buttonContainer {
    background: #222222;
    color: white;
    height: 33.3%;
    width: 33.3%;
}

.buttonContainer button {
    background: #222222;
    color: white;
    width: 100%;
    height: 100%;
    border: 1px white;
    padding: 0px 0px 0px 0px;
}

.buttonContainer button:hover .svgArrow svg path {
    fill: #404040;
}

.buttonContainer button:active .svgArrow svg path{
    fill: #333333;
    stroke: #bfbfbf;
}

.buttonContainer button:hover .svgOctagon svg polygon {
    fill: #EA5048;
}

.buttonContainer button:active .svgOctagon svg polygon {
    fill: #e73b32;
}

.invisibleSpacer {
    background: #222222;
    border: none;
    height: 33.3%;
    width: 33.3%;
}

.control-board-row {
    width: 100%;
    height: 33.3%;
}

.tabs {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
    height: 10%;
}

.tabs button:hover {
    background-color: lightgray;
}

.tabs button:active {
    background-color: darkgray;
}

.tabs button {
    background-color: gray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
    width: 50%;
    height: 100%;
}

.tabbedContent {
    background: #222222;
    display: none;
    height: 90%;
    width: 100%;
    padding: 0px 0px 0px 0px
}

